html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #12161f;
    line-height: 1.6;
}

header {
    background-color: #12161f;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

button, .book-btn {
    background-color: #91cc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    font-size: 16px;
}

button:hover, .book-btn:hover {
    transform: translateY(-3px);
}

.container {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #91cc00;
    margin: 0;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: perspective(500px) rotateX(10deg);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: perspective(500px) rotateX(0);
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

footer {
    background-color: #12161f;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
